<!-- <h1>StaticPages#about</h1> -->
<!-- <p>Find me in app/views/static_pages/about.html.erb</p> -->
<div class="container-fluid">
	<h1>About Bike Berlin</h1>
	<h2>What We're About...</h2>
	<p>
		Bike Berlin is all about (get it?) you finding that killer 
		used bike you've always dreamed about... (see what I did there?)
	</p>
</div>
