/*
// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

/** { border: 1px solid red; }*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body { 
  height: 100%;
}

body {
  position: relative;
  padding-top: 60px;
  /*background-color: #000;*/
}

h1 {
  font-family: 'Audiowide', cursive, sans-serif;
  color: #333;
  text-align: left;
}

.img_prod1 {
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  max-height: 400px;
}

/*
.page_footer {
  clear: both;
  color: #acacac;
  background-color: #333;
  font-size: 0.8125rem;
  text-align: center!important;
  padding-top: 1px;
  z-index: 100;
}

#right {
  margin-right: 5%;
  color: #555;
}

#foot {
  padding: 2%;
  padding-left: 2%;
}

.footer-copyright{
  float: right;
}

.nav-footer a{
  float: left;
  color: #555;
  margin-right: 1%;
  text-decoration: none;
}

.nav-footer a:active {
  color:#e5820d;
}

.nav-footer a:hover {
  color:#96b0bd;
  font-size:150%;
  background-color: #333;
  text-decoration: none;
}
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 60px;
   width: 100%;
   /*background: #000;*/
}

.footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
  font-family: 'Audiowide', cursive, sans-serif;
  clear: both;
  color: #acacac;
  font-size: 2rem;
  text-align: center!important;
  padding-top: 1px;
  z-index: 100;  
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
